@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: Magenta;
}

#column-2 {
  background: Lime;
}

#column-3 {
  background: Cyan;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color:;
  }

  .col-3 {
  width: 50%;
  height: 320px;
  float: left;
}

  #column-1 {
    background-color: Magenta;
  }

  #column-2 {
    background-color: Lime;
  }

  #column-3 {
    background-color: Cyan;
  }

  footer {
    background-color: ;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: ;
  }

    .col-3 {
  width: 33.33%;
  height: 320px;
  float: left;
}

  #column-1 {
    background-color: Magenta;
  }

  #column-2 {
    background-color: Lime;
  }

  #column-3 {
    background-color: Cyan;
  }

  footer {
    background-color: ;
  }
   
}
